.contact {

  .lets-talk-section {
    background: rgba(0, 0, 0, 0.4);
  }

  /// background on lg resolution only
  @media (min-width: 992px) {
    background: rgba(0, 0, 0, 0.4);
    .lets-talk-section {
      background: unset;
    }
  }

  max-width: 840px;

  form {
    background: $primary-color;

    .btn {
      background: #009688;
      color: #fff;
      border: none;

      img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
      }
    }

    .mail-send {
      animation: normal-mail 250ms linear forwards;
    }

    .mail-sending-btn {
      background: #b0b0b0;
      transition: background-color 250ms linear;
    }

    // animate icon to left the button at 50% of time
    .mail-sent-btn {
      overflow-y: hidden;
      background: #009688;
      transition: background-color 1000ms linear;
      img {
        position: absolute;
        animation: mail-sent 1s linear forwards;
      }
    }
  }

  .image-section {
    img {
      width: 36px;
      height: 36px;
      min-width: 36px;
      object-fit: contain;
      filter: brightness(0) invert(1);
    }
  }
}
