.contact {
  background: rgba(0, 0, 0, 0.4);
  max-width: 840px;

  form {
    background: $primary-color;
  }

  .image-section {
     img {
       width: 36px;
       height: 36px;
       object-fit: contain;
       filter: brightness(0) invert(1);
     }
  }
}