@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

.main-nav {
  box-shadow: 0 -6px 54px rgba(0, 0, 0, 0.1);
  position: fixed; /* Make the header fixed */
  background-color: #000063;
  color: white;
  width: 100%;
  z-index: 999;
}