/* Add these styles for the confetti animation */
@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allow clicks to go through confetti */
  z-index: 1000; /* Set a high z-index to appear in front */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: confetti 2s linear infinite; /* Set duration to 2 seconds */
  animation-play-state: running; /* Initially running */
}

.confetti.stopped {
  display: none;
  animation-play-state: paused; /* Set to paused when stopped */
}

.confetti:nth-child(2n) {
  background-color: #f44336; /* Red */
}

.confetti:nth-child(2n + 1) {
  background-color: #2196f3; /* Blue */
}
