@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* It starts animation section */
@media (prefers-reduced-motion) {
  .hidden-section {
    transition: none;
  }
}

.hidden-section {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show-section {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* It ends animation section */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.tech-stack-container .tech-item {
  height: 70px;
  width: 70px;
  text-align: center;
}

.tech-stack-container .tech-item .description {
  opacity: 0;
  margin-top: 0;
  transition: all 0.2s ease-in-out;
}

.tech-stack-container .tech-item:hover .description {
  opacity: 1;
  margin-top: 10px;
}

.tech-stack-container .growing-tech-item {
  height: 70px;
  width: 70px;
  transition: all 0.2s ease-in-out;
}

.tech-stack-container .growing-tech-item:hover {
  width: 75px;
  height: 75px;
  margin-left: -2.5px;
  margin-top: -2.5px;
}

.mobile-menu {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

.rounded-full {
  border-radius: 50%;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

.main-nav {
  box-shadow: 0 -6px 54px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: fixed; /* Make the header fixed */
  width: 100%;
  z-index: 999;
}

.contact-me-icon:hover {
  color: #008080;
}

.main-content-profile {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.main-content-profile img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
