@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.mobile-menu {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}


.rounded-full {
  border-radius: 50%
}

@keyframes slide-in {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateY(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(-100%); }
}

